.restaurant-title {
  color: #595;
}

.button-group{
  display: flex;
  align-items: flex-start;
  a{
    margin: 0 .5em;
  }
  a:first-child{
    margin-left: 0;
  }
}

.form-group{

  margin-left: auto;
  label{
    font-weight: 300;
  }
  input{
    outline: none;
    border: 1px solid #ccc;
  }

}